body {
    font-family: Arial, sans-serif;
  }
  
  input[type="text"] {
    color: rgb(19, 18, 18); /* Membuat teks menjadi transparan */
    caret-color: rgb(248, 248, 248); /* Warna cursor */
  }
  input[type="text"]:focus {
    outline: none; /* Hilangkan outline saat fokus */
  }
  input[type="char"] {
    color: rgb(19, 18, 18); /* Membuat teks menjadi transparan */
    caret-color: rgb(248, 248, 248); /* Warna cursor */
  }
  
  input[type="char"]:focus {
    outline: none; /* Hilangkan outline saat fokus */
  }
  
  /* Style tambahan untuk efek visual */
  input[type="text"] {
    border: 1px solid #0c0c0c;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    border-color: dodgerblue;
  }
  label[for="email"]{
    color: rgb(19, 18, 18); /* Membuat teks menjadi transparan */
    caret-color: rgb(248, 248, 248); /* Warna cursor */
  }
  label[for="email"]:focus {
    outline: none; /* Hilangkan outline saat fokus */
  }
  label[for="message"]{
    color: rgb(19, 18, 18); /* Membuat teks menjadi transparan */
    caret-color: rgb(248, 248, 248); /* Warna cursor */
  }
  label[for="message"]:focus {
    outline: none; /* Hilangkan outline saat fokus */
  }